.insights {
  background-color: #282c34;
  text-align: center;
}

.insights-section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 60px;
}

.equipment-usage-list {
  padding-top: 20px;
  list-style-type: none;
  font-weight: 700;
}

li{
  margin: 10px 0;
  font-size: x-large;
}
