.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #282c34;
  color: white;
  padding: 0 20px;
}

.navbar-left {
  flex: 1;
  text-align: left;
}

.navbar-center {
  flex: 2;
  text-align: center;
}

.navbar-right {
  flex: 1;
  text-align: right;
}
